/*Universal styles*/
/*font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;*/


html  {
  font-size: 12px;
}

body {
    font-family:'Raleway', sans-serif;
    width:100%;
    background-color: white;
}

.wrapper {
  max-width: 105rem;
  margin: 0 auto;
  border: 1px solid yellow;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 6rem;
  font-weight: 900;

  margin-bottom: 2rem;
}

h2 {
  font-size: 4rem;
  font-weight:900;
  margin-top: 2.7rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.7rem;
}

h4 {
  font-size: 1.5rem;
  padding-top: 0.67rem;
  padding-bottom: 0.67rem;
}

p {
  font-size: 1.4rem;
}

.container {
  /*margin-left: 2rem;*/
  border: 1px solid black; /**for debugging **/
  display: flex;
  width: 100%;
}

.left-container {
  flex: 1;
  max-width: 60%;
  padding-right: 2rem;


}

.right-container {
  flex: 1;
  max-width: 40%;

}

.quote {
  line-height: 2rem;
  margin-bottom: 2rem;
}

/*Header*/

.header-container {
  margin-left: 2rem;
  margin-right: 2rem;

  border: 1px solid green; /**for debugging **/
  display: flex;
  justify-content: space-between;
  width: 100%;

}

header {
  border: 1px solid red; /**for debugging **/
  height: 4rem;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  font-size: 2rem;

}

.logo {
  display: flex;
  align-items: center;
}

header span {
  font-weight: 600;
}

nav {
  border: 1px solid orange; /**for debugging **/
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  display: inline;
  margin-right: 2rem;

}

nav a {
  font-size: 1.5rem;

}

@media only screen and (max-width:425px;) {

}

/*Main banner*/

.jumbotron {
  padding: 3.7rem 2rem;
  background-color: #DCDCDC;
  width:auto;
}

.jumbotron .right-container {
  display: flex;
  align-items: center;
}

.left-container img {
  max-width:100%;

}

.cta {
  padding: 2rem 2rem;
  /*margin-left: 3.3rem;*/
}

.cta-button {
  background-color: grey;
  color: white;
  padding: 0.9rem 0.9rem;
  margin: 2rem 0;
  justify-content: center;
  text-align: center;
}

/*News container*/

.news {
  padding: 3.7rem 2rem;
  width:auto;
}

.card {
  display: flex;
  align-items: flex-start;
  padding: 2rem 2rem;
  border: 1px solid red;
}

      .card-img {
        width: 35%;
        border: 1px solid green;
      }

      .card-img img {
        max-width: 100%;

        }

      .card-info {
        width: 65%;
        margin: 0 0 0 2.7rem;
      }

      .card:first-child {
        padding-top: 0rem;
      }

      .card:nth-child(1n+3) {
        background-color: #DCDCDC;
      }

      .card p {
        line-height: 2rem;
        margin-bottom: 2rem;

      }


/*=========*/
/*Courses*/
/*=========*/

.courses {
  display:block;
  padding-bottom: 2.7rem;
  background-color: #DCDCDC;
  width:auto;

}

.section-header {
  border:1px solid orange;
  margin: 0;
  text-align: center;
  padding-top: 2.7rem;
  padding-bottom: 2.7rem;

}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}


.grid-item {
  padding-right: 2.7rem;
  border: 1px solid green;
  max-width: 25%;
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;

}

.grid-item-head {
  border: 1px solid red;
  background: white;
  align-items: stretch;
  height:100%;
  padding: 1rem 1rem 2rem 1rem;
}

/*=======*/
/*Thesis*/
/*=======*/



.thesis {
  display: block;
  padding: 3.7rem 2rem;
  border: 1px solid purple;
}

.thesis video {
  padding-bottom: 2rem;
}

.thesis .card:first-child {
  padding-top: 2rem;
  background-color: #DCDCDC
}


/*=====*/
/*Footer*/
/*=====*/


footer {
  border: 1px solid grey;
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 3rem;

}
.user-rights {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.copyright {
  display: flex;
  align-items: center;
}

footer a {

  font-size: 1.5rem;
  margin-right: 2rem;
}
