/*Universal styles*/

html  {
  font-size: 12px;
}

body {
    font-family:"Arial", sans-serif;
    width:100%;
    background-color: white;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

h2 {
  font-size: 4rem;
  font-weight:900;
  margin-top: 2.7rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 0.7rem;
}

p {
  font-size: 1.5rem;
}

.container {
  margin-left: 2rem;
  border: 1px solid black; /**for debugging **/
  display: flex;
  width: 100%;
}

.left-container {
  flex: 1;
  max-width: 60%;

}

.right-container {
  flex: 1;
  max-width: 40%;

}

/*Header*/

.header-container {
  margin-left: 2rem;
  border: 1px solid green; /**for debugging **/
  display: flex;
  justify-content: space-between;
  width: 100%;

}

header {
  border: 1px solid red; /**for debugging **/
  width: 100%;
  height: 3rem;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;

}

.logo {
  display: flex;
  align-items: center;

}

nav {
  border: 1px solid orange; /**for debugging **/
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  display: inline;

}

nav a {
  margin-right: 1.33rem;
}


/*Main banner*/

.jumbotron {
  padding: 3.7rem 2rem;
  background-color: #DCDCDC;
}

.jumbotron .left-container {
  padding-right: 2rem;
}

.jumbotron .right-container {
  display: flex;
  align-items: center;
}

.left-container img {
  max-width:100%;
  /*padding: 2rem 1.5rem;*/

}

.cta {
  padding: 3rem 3rem;
  margin-left: 3.3rem;
}

.cta-button {
  background-color: grey;
  color: white;
  padding: 0.9rem 0.9rem;
  margin: 2rem 0;
  justify-content: center;
  text-align: center;
}

/*News container*/

.news {
  padding: 3.7rem 2rem;
}

.news .left-container{
  padding-right: 2rem;
}

.quote {
  margin-bottom: 2rem;
}

.card {
  display: flex;
  align-items: flex-start;
  padding: 2rem 2rem;
  border: 1px solid red;
}

      .card-img {
        width: 35%;
        border: 1px solid green;
      }

      .card-img img {
        max-width: 100%;

        }

      .card-info {
        width: 65%;
        margin: 2.7rem;
      }

      .card:first-child {
        padding-top: 0rem;
      }

      .card:nth-child(1n+3) {
        background-color: #DCDCDC;
      }

      .card p {
        line-height: 2rem;
        margin-bottom: 2rem;
      }
